/* 头部开始 */

.header_top{
    top: 0 !important;
    margin: 0 auto;
    width: 100%;
    height:41px;
    position: absolute;
    z-index: 666;
}
.header_top ul{
    position: relative;
    margin: 0 auto;
    width: 990px;
    height: 41px;
    line-height:41px;
}
.header_top>ul>li:nth-of-type(2){
    width: 600px;
}
.header_top ul li{
    float: left;
    padding: 0 10px;
}
.header_top li a:link{
    color:black;
    font-size: 14px;
    text-decoration: none;
}
.header_top .xuanwu{
    position: absolute;
    left: 10px;
    top:41px;
    z-index: 99;
    width: 970px;
    height: 185px;
    display: none;
}
.header_top ul li:hover .xuanwu{
    display: block;
}
.header_top .hot{
    position: absolute;
    top:41px;
    left: 198px;
    z-index: 99;
    width: 790px;
    height: 582px;
    background-color: whitesmoke;
    display: none;
}
.header_top ul li:hover .hot{
    display: block;
}
.hot>div{
    margin-left: 27px;
    float: left;
    width: 224px;
    height: 550px;
}
.paihang>.rank-item{
    position: relative;
    clear: both;
    width: 200px;
    line-height: 70px;
}
.rank-item>img{
    width: 200px;
    height: 90px;
}
.rank-order{
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color:#FFFFFF;
    background-color: #c62828;
}
.rank-item img{
    display:none;
}
.game-name{
    padding-left: 20px;
    margin-top: -27px;
}
.rank-item:hover .rank-img{
    display: block;
}
.rank-item:hover{
    background-color: white;
}
.rank-item:hover .game-name{
    display: none;
}
.rank-item>.rank-btn-bar{
    position: absolute;
    bottom: 0;
    top: 66px;
    height: 20px;
    width: 200px;
    background-color: #000000;
    opacity: 0.5;
    display:none;
}
.rank-item:hover>.rank-btn-bar{
    display: block;
}
.rank-btn-bar>a{
    padding: 0 20px;
}
.rank-btn-bar a:link{
    text-decoration: none;
    font-size: 15px;
    color:white;
}

.nav-right{
    float: left;
    width: 300px;
    height: 84px;
    line-height: 84px;
    color: white;
    display: inline;
}
.nav-right>.unlogion_info{
    /*display: inline;*/
    float: left;
    margin-top: -80px;
    margin-left: 60px;
    width: 140px;
    height: 80px;
}

.unlogion_info a{
    display: block;
    height: 10px;
    line-height: 60px;
}
.unlogion_info a:link{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.unlogion_info span{
    color: #858792;
    font-size: 13px;
}
.nav-right img{
    margin-top: 20px;
    border: 1px solid #FFA500;
    border-radius: 50%;
}