
.r_nav {
    pointer-events: none;
    position: fixed;
    z-index: 3;
    top: 50%;
    right: 0;
    margin-top: -240px;
    width: 254px;
    height: 494px;
    background: url("../images/piaochuang/r_navBg.png") no-repeat top left;
}

.r_nav li {
    list-style: none;
    padding: 0;
}

.r_nav div, .r_nav li, .r_nav p, .r_nav a {
    padding: 0;
    margin: 0;
}

.r_nav .r_con {
    pointer-events: auto;
    position: absolute;
    top: 160px;
    left: 85px;
}

.r_nav .r_dj {
    position: absolute;
    top: 15px;
    left: 24px;
    z-index: 2;
    width: 165px;
    height: 145px;
    background: url("../images/piaochuang/r_dj.png") no-repeat top center;
}

.r_nav .r_dj span {
    display: block;
    position: absolute;
    top: 37px;
    left: 12px;
    width: 88px;
    height: 36px;
    font-size: 14px;
    text-indent: 2px;
    font-weight: bold;
    line-height: 18px;
    color: #62401b;
    overflow: hidden;
}

.r_nav .r_con .r_yyw, .r_nav .r_con .r_code {
    position: relative;
    width: 117px;
    height: 113px;
    background: url("../images/piaochuang/r_all.png") no-repeat 0 -3px;
    padding-top: 3px;
}

.r_nav .r_con .topImg, .yybd .yyInfo, .r_assBg .assCode {
    display: block;
    margin: 0 auto;
}

.r_nav .r_con .r_code {
    margin-top: 1px;
}

.r_con .r_burst, .r_con .r_assistant, .r_con .r_wc_gzh, .r_con .r_wc_role, .r_wc_sph {
    width: 117px;
    height: 38px;
    margin-top: 1px;
}

{
    width: 117px
;
    height: 38px
;
    margin-top: 1px
;
}
.r_con .r_burst {
    background: url("../images/piaochuang/r_all.png") no-repeat -122px -120px;
    position: relative;
}

.r_con .r_burst a, .r_con .r_wc_survey a {
    display: block;
    width: 100%;
    height: 100%;
}

.r_con .r_assistant {
    position: relative;
    background: url("../images/piaochuang/r_all.png") no-repeat 0 -160px;
}

.yybd {
    display: none;
    position: absolute;
    top: 0;
    left: -200px;
    width: 199px;
    height: 131px;
    background: url("../images/piaochuang/r_all.png") no-repeat 0 -281px;
    padding-top: 2px
}

.yybd p {
    position: absolute;
    bottom: 2px;
    left: 50%;
    width: 195px;
    height: 30px;
    margin-left: -97.5px;
    text-align: center;
    line-height: 30px;
    color: #dcdcdc;
    font-size: 12px;
    overflow: hidden
}

.r_con .r_assBg {
    display: none;
    position: absolute;
    top: -66px;
    left: -116px;
    width: 115px;
    height: 144px;
    background: url("../images/piaochuang/r_all.png") no-repeat 0 -416px;
    padding-top: 7px
}

.r_assBg .assCode {
    margin-bottom: 6px;
}

.r_assBg p {
    width: 101px;
    height: 34px;
    line-height: 17px;
    color: #dcdcdc;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden
}

.r_assBg p span {
    color: #cd974b;
}

.r_con .r_burst:hover {
    background: url("../images/piaochuang/r_all.png") no-repeat -122px -240px;
}

.r_con .r_assistant:hover {
    background: url("../images/piaochuang/r_all.png") no-repeat 0 -240px;
}

.r_con .r_yyw:hover .yybd {
    display: block
}

.r_con .r_assistant:hover .r_assBg, .r_con .r_wc_gzh:hover .r_assBg, .r_con .r_burst:hover .r_assBg, .r_con .r_wc_role:hover .r_assBg, .r_con .r_wc_sph:hover .r_assBg {
    display: block
}

.r_con .r_wc_gzh {
    position: relative;
    background: url("../images/piaochuang/r_all.png") no-repeat -122px -160px;
}

.r_con .r_wc_gzh:hover {
    background: url("../images/piaochuang/r_all.png") no-repeat -122px -200px;
}

.r_con .r_wc_role {
    position: relative;
    background: url("../images/piaochuang/r_all.png") no-repeat -122px -417px;
}

.r_con .r_wc_role:hover {
    background: url("../images/piaochuang/r_all.png") no-repeat -122px -458px;
}

.r_con .r_wc_sph {
    position: relative;
    background: url("../images/piaochuang/r_all.png") no-repeat -122px 0;
}

.r_con .r_wc_sph:hover {
    background: url("../images/piaochuang/r_all.png") no-repeat -122px -42px;
}

.r_wc_gzh .r_assBg p {
    width: 100%;
}

.r_wc_sph .r_assBg p {
    width: 100%;
}

.r_burst .r_assBg p {
    width: 100%;
}
